<% include ../layout/head.ejs %>
<div class="main" id="main">
	<ul class="sections">
		<li><a href="/client/request/creat">新建需求</a></li>
		<li><a href="/client/request">我的需求</a></li>
		<li><a href="/client/response">收到报价</a></li>
		<li><a href="/client/material">物料列表</a></li>
	</ul>
</div>
<% include ../layout/foot.ejs %>
