<% include ./layout/head.ejs %>
<div class="out">
  <div class="in">
    <div class="main" id="main">
      <table class="account-table">
        <thead>
          <tr>
            <td>名字</td>
            <td>电话</td>
            <td>密码</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody id='tablelist'>
        </tbody>
      </table>
      <button id="creat" class="form-btn">生成100个子账号</button>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>