<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
      <div class="all-form">
        <div class="form login-form">
          <p>企业账号登录</p>
          <input type="text" id="clientName" placeholder="请输入姓名或者手机号"/>
          <input type="password" id="clientPsw" placeholder="请输入密码" />
          <button id="loginClient">登录</button>
          <a href="/online/callback/client">找回密码</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
