<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <div class="conf">
            <ul class="conf-nav">
                <li><a href="/online/flightinfo">航班信息</a></li>
                <li><a href="/online/flightassist">接送</a></li>
                <li><a href="/online/hotelassist">酒店接待</a></li>
                <li><a href="/online/hotelinfo">酒店信息</a></li>
                <li><a href="/online/confinfo">会议信息</a></li>
                <li><a class="on" href="/online/confresource">会议资料</a></li>
            </ul>
            <div class="conf-detail">
                <div class="titileline">
                    会议资源
                </div>
                <div class="result" id="s2">
                    <a class="file" target="_blank" href="/video/a.mp4">
                        <img src="/img/online/file.png" />
                        重要讲稿视频1
                    </a>
                    <a class="file" target="_blank" href="/video/a.mp4">
                        <img src="/img/online/file.png" />
                        重要讲稿视频2
                    </a>
                    <a class="file" target="_blank" href="/video/a.mp4">
                        <img src="/img/online/file.png" />
                        重要讲稿视频3
                    </a>
                </div>
                <div class="titileline">
                    专家互动交流社区
                </div>
                <div class="result" id="s2">
                    <div class="bl">
                        <p class="n">参会者A:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            您好陈教授，想问一下这次会议对我们有什么影响？
                        </p>
                    </div>
                    <div class="bl">
                        <p class="n">陈教授:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            我觉的这次会议非常重要，我们将在会议中介绍这一领域最新的相关技术。这些技术无论是在国内还是在世界范围内都是具有历史意义的，这将改变我们原先对生物学的认知，并且将影响人类学和心理学等多个领域。
                        </p>
                    </div>
                    <div class="bl">
                        <p class="n">参会者A:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            您好陈教授，想问一下这次会议对我们有什么影响？
                        </p>
                    </div>
                    <div class="bl">
                        <p class="n">陈教授:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            我觉的这次会议非常重要，我们将在会议中介绍这一领域最新的相关技术。这些技术无论是在国内还是在世界范围内都是具有历史意义的，这将改变我们原先对生物学的认知，并且将影响人类学和心理学等多个领域。
                        </p>
                    </div>
                    <div class="bl">
                        <p class="n">参会者A:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            您好陈教授，想问一下这次会议对我们有什么影响？
                        </p>
                    </div>
                    <div class="bl">
                        <p class="n">陈教授:</p>
                        <p class="t">2016-10-10 12:10</p>
                        <p class="c">
                            我觉的这次会议非常重要，我们将在会议中介绍这一领域最新的相关技术。这些技术无论是在国内还是在世界范围内都是具有历史意义的，这将改变我们原先对生物学的认知，并且将影响人类学和心理学等多个领域。
                        </p>
                    </div>
                </div>
                <div class="titileline">
                    虚拟会议室
                </div>
                <div class="result" id="s2">
                    <img src="/img/online/room.jpg" />
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
