<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <div class="conf">
            <ul class="conf-nav">
                <li><a href="/online/flightinfo">航班信息</a></li>
                <li><a href="/online/flightassist">接送</a></li>
                <li><a href="/online/hotelassist">酒店接待</a></li>
                <li><a href="/online/hotelinfo">酒店信息</a></li>
                <li><a class="on" href="/online/confinfo">会议信息</a></li>
                <li><a href="/online/confresource">会议资料</a></li>
            </ul>
            <div class="conf-detail">
                <div class="titileline">
                    会议日程
                </div>
                <div class="result" id="s1">
                    <table>
                        <thead>
                            <tr>
                                <td width="250">时间</td>
                                <td width="250">内容</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09-10 10:30-11:20</td>
                                <td>会议概要介绍</td>
                            </tr>
                            <tr>
                                <td>09-10 12:30-14:20</td>
                                <td>品牌供应商宣传</td>
                            </tr>
                            <tr>
                                <td>09-11 14:30-15:20</td>
                                <td>新项目开幕典礼</td>
                            </tr>
                            <tr>
                                <td>09-11 15:30-17:20</td>
                                <td>行业动向分析报告会</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="titileline">
                    讲题内容和专家介绍
                </div>
                <div class="result cc" id="s2">
                    <p class="title">会议介绍</p>
                    <p>
                         以“为人类释放绿色生物能源”为主题的 2013第三届国际生物能源大会，将于2013年4月25日-27日在中国南京举行。
                    </p>
                    <p>
                        本次大会由中国国际贸易促进委员会、中华全国工商业联合会、南京市人民政府、第四届DNA与基因组活动周组委会主办，世界生物能源协会协办，国家外国专家局国外人才信息研究中心、中国医药生物技术协会、江苏省发展和改革委员会、江苏省经济和信息化委员会、江苏省商务厅、江苏省人力资源和社会保障厅、江苏省工商业联合会支持，百奥泰国际会议（大连）有限公司、国家外国专家局、国外人才资源总库-大连生物与医药人才分库执行。
                    </p>
                    <p>
                        21世纪是生物的世纪，是科学技术飞速发展的新世纪,可持续发展是当前经济发展的趋势所在。面对化石能源的枯竭和环境的污染，生物能源的开发利用为经济的可持续发展带来了曙光。生物能源作为可再生，污染极小的能源，具有无可比拟的优越性，必将为21世纪的经济发展和环境保护注入强大的推动力。
                    </p>
                    <p>
                        本届会议计划邀请国内外生物能源领域的著名专家、世界各国科学院士、世界500强企业高管、世界各国对生物能源有突出贡献的人士参会，精英荟萃，规模空前，将是一次生物能源领域有巨大影响力的盛会。本届大会除主论坛外，将组织全球生物能源经济与政策、工业领导者论坛、生物燃料技术的最新研究进展、生物质原料、生物酒精、生物柴油、藻类生物燃料、生物燃气与发电、生物燃料汽车、航空生物燃料及其它燃料、生物精炼和生物加工技术、生物燃料标准、网际协议与规则、生物燃料金融、投资、贸易和市场质谱等11个科技论坛和分会活动。 同期将召开第六届工业生物技术大会、第四届工业酶与生物催化大会、第四届中国南京国际DNA和基因组活动周、第二届生物多样性大会。
                    </p>
                    <p>
                        本次会议会为参会人员提供最前沿的科技资讯、传递行业发展趋势和最新动向，是生物能源领域的年度盛会。最后，我们期待和欢迎您莅临2013第三届生物能源大会，共同分享生命科学和化工科技领域的饕餮盛宴，一起感受生物能源改变世界、生物能源促进可持续发展的伟大力量。
                    </p>
                     <p class="title">到会专家</p>
                    <p>
                        <img src="/img/online/expert.png" class="pp" alt="">
                        本次会议会为参会人员提供最前沿的科技资讯、传递行业发展趋势和最新动向，是生物能源领域的年度盛会。最后，我们期待和欢迎您莅临2013第三届生物能源大会，共同分享生命科学和化工科技领域的饕餮盛宴，一起感受生物能源改变世界、生物能源促进可持续发展的伟大力量。
                    </p>
                    <p>
                        <img src="/img/online/expert.png" class="pp" alt="">
                        本次会议会为参会人员提供最前沿的科技资讯、传递行业发展趋势和最新动向，是生物能源领域的年度盛会。最后，我们期待和欢迎您莅临2013第三届生物能源大会，共同分享生命科学和化工科技领域的饕餮盛宴，一起感受生物能源改变世界、生物能源促进可持续发展的伟大力量。
                    </p>
                    <p>
                        <img src="/img/online/expert.png" class="pp" alt="">
                        本次会议会为参会人员提供最前沿的科技资讯、传递行业发展趋势和最新动向，是生物能源领域的年度盛会。最后，我们期待和欢迎您莅临2013第三届生物能源大会，共同分享生命科学和化工科技领域的饕餮盛宴，一起感受生物能源改变世界、生物能源促进可持续发展的伟大力量。
                    </p>
                </div>
                <div class="titileline">
                    现场工作人员协调
                </div>
                <div class="result" id="s3">
                    <table>
                        <thead>
                            <tr>
                                <td width="250">职务</td>
                                <td width="250">姓名</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>主持</td>
                                <td>张出栏</td>
                            </tr>
                            <tr>
                                <td>场务</td>
                                <td>熊范范</td>
                            </tr>
                            <tr>
                                <td>派发</td>
                                <td>朱光艳</td>
                            </tr>
                            <tr>
                                <td>酒水</td>
                                <td>王小宝</td>
                            </tr>
                            <tr>
                                <td>投影</td>
                                <td>林峰</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="titileline">
                    各方工作人员签到
                </div>
                <div class="result" id="s4">
                    <div class="intput-line">
                        <button id="check">会议签到</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
