<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <div class="conf">
            <ul class="conf-nav">
                <li><a href="/online/flightinfo">航班信息</a></li>
                <li><a class="on" href="/online/flightassist">接送</a></li>
                <li><a href="/online/hotelassist">酒店接待</a></li>
                <li><a href="/online/hotelinfo">酒店信息</a></li>
                <li><a href="/online/confinfo">会议信息</a></li>
                <li><a href="/online/confresource">会议资料</a></li>
            </ul>
            <div class="conf-detail">
                <div class="titileline">
                    实时交通信息 <button id="show1">显示交通信息</button>
                </div>
                <div class="result hide" id="s1">
                    <ul class="road">
                        <li class="on">
                            <p><span class="tip">路段1</span><span class="state g">畅通</span>
                            <p class="title">1小时 | 22.7公里 | 23个红绿灯</p>
                            <p class="sub">打车约78元 | 途经：逸仙高架路、内环高架路</p>
                        </li>
                        <li>
                            <p><span class="tip">路段1</span><span class="state r">拥堵</span>
                            <p class="title">1小时 | 22.7公里 | 23个红绿灯</p>
                            <p class="sub">打车约78元 | 途经：逸仙高架路、内环高架路</p>
                        </li>
                        <li>
                            <p><span class="tip">路段1</span><span class="state g">畅通</span></p>
                            <p class="title">1小时 | 22.7公里 | 23个红绿灯</p>
                            <p class="sub">打车约78元 | 途经：逸仙高架路、内环高架路</p>
                        </li>
                        <li>
                            <p><span class="tip">路段1</span><span class="state g">畅通</span></p>
                            <p class="title">1小时 | 22.7公里 | 23个红绿灯</p>
                            <p class="sub">打车约78元 | 途经：逸仙高架路、内环高架路</p>
                        </li>
                    </ul>
                    <div class="rightimg">
                        <img src="/img/online/map.png" />
                    </div>
                </div>
                <div class="titileline">
                    用车导入GPS定位 <button id="show2">现实GPS定位</button>
                </div>
                <div class="result hide" id="s2">
                    <img src="/img/online/map.png" />
                </div>
                <div class="titileline">
                   系统通知 <button id="send">发送通知信息</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
