<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <div class="conf">
            <ul class="conf-nav">
                <li><a href="/online/flightinfo">航班信息</a></li>
                <li><a href="/online/flightassist">接送</a></li>
                <li><a href="/online/hotelassist">酒店接待</a></li>
                <li><a class="on" href="/online/hotelinfo">酒店信息</a></li>
                <li><a href="/online/confinfo">会议信息</a></li>
                <li><a href="/online/confresource">会议资料</a></li>
            </ul>
            <div class="conf-detail">
                <div class="titileline">
                    会场信息
                </div>
                <div class="result" id="s1">
                    <p>希尔顿酒店及度假村<br>
                        以“微笑服务”为理念，以打造“宾至如归”的奢华舒适体验为目标。遍及90个国家和地区的逾4,000家酒店，包括希尔顿酒店，华尔道夫酒店，康莱德酒店，希尔顿逸林和希尔顿花园酒店等10大品牌。</p>
                </div>
                <div class="titileline">
                    用餐安排
                </div>
                <div class="result" id="s2">
                    <table>
                        <thead>
                            <tr>
                                <td width="250">时间</td>
                                <td width="250">地点</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09-10 11:30-12:20</td>
                                <td>1楼就餐厅</td>
                            </tr>
                            <tr>
                                <td>09-10 17:30-19:20</td>
                                <td>1楼就餐厅</td>
                            </tr>
                            <tr>
                                <td>09-11 11:30-12:20</td>
                                <td>2楼就餐厅</td>
                            </tr>
                            <tr>
                                <td>09-11 17:30-19:20</td>
                                <td>3楼就餐厅</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="titileline">
                    酒店地图
                </div>
                <div class="result" id="s3">
                    <img src="/img/online/hotel.png" />
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
