<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <ul class="conf-nav">
            <li><a href="/online/flightinfo">航班信息</a></li>
            <li><a href="/online/flightassist">接送</a></li>
            <li><a href="/online/hotelassist">酒店接待</a></li>
            <li><a class="on" href="/online/hotelinfo">酒店信息</a></li>
            <li><a href="/online/confinfo">会议信息</a></li>
            <li><a href="/online/confresource">会议资料</a></li>
        </ul>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
