<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<div class="banner">
				<div class="bannerin">
					<a><img src="/img/online/d1.jpg" /></a>
					<a><img src="/img/online/d2.jpg" /></a>
					<a><img src="/img/online/d3.jpg" /></a>
					<a><img src="/img/online/d4.jpg" /></a>
					<a><img src="/img/online/d5.jpg" /></a>
					<a><img src="/img/online/d6.jpg" /></a>
					<a><img src="/img/online/d7.jpg" /></a>
					<a><img src="/img/online/d8.jpg" /></a>
					<a><img src="/img/online/d9.jpg" /></a>
					<a><img src="/img/online/d1.jpg" /></a>
				</div>
			</div>
			<div class="roll-area">
				<div class="roll" id="r1">
				</div>
			</div>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>
