<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
      <ul class="toptab">
        <li class="on">个人资料</li>
        <li>我的收藏</li>
        <li>账号和安全</li>
        <li>帮助与反馈</li>
        <li>关于蔚迈</li>
      </ul>
      <ul class="proin">
        <li id="userinfo" class="on"></li>
        <li id="mycollect"></li>
        <li id="safe">
          <form class="form safe">
            <p>修改密码</p>
            <ul>
              <li>
                <label>原密码:</label>
                <input type="text" id="oldpsw" />
              </li>
              <li>
                <label>新密码:</label>
                <input type="text" id="newpsw" />
              </li>
              <li>
                <label>确认新密码:</label>
                <input type="text" id="checknewpsw" />
              </li>
            </ul>
            <label></label>
            <button id="changepsw">修改</button>
            <p>绑定手机号</p>
            <ul>
              <li>
                <label>手机号:</label>
                <input type="text" id="cellbind" />
                <button id="send">发送验证码</button>
              </li>
              <li>
                <label>输入验证码:</label>
                <input type="text" id="cellcheck" />
              </li>
            </ul>
            <label></label>
            <button id="bindcell">绑定</button>
            <p>绑定邮箱</p>
            <ul>
              <li>
                <label>邮箱:</label>
                <input type="text" id="mailbind" />
              </li>
            </ul>
            <label></label>
            <button id="bindmail">绑定</button>
          </form>
        </li>
        <li id="callback">
          <div class="para">
            <h1>帮助与反馈</h1>
            <p>Q：上海蔚迈科技信息有限公司是一家什么公司？</p>
            <p>A：上海蔚迈科技信息有限公司致力于会展行业一站式服务平台搭建。公司经过多年对于会展行业服务的经验并大量调查了解客户的需求，整合了现有资源开发出适合未来发展的革命性产品。蔚迈平台通过一站式竞价系统，让企业用户直接跳过传统中间商拿到最优惠的价格，再通过平台实时监督流程，以高质量的服务完成企业的要求，让企业能够真正感受到创新模式带来业绩和管理的提升。</p>
            <p>Q：上海蔚迈科技信息有限公司是一家什么公司？</p>
            <p>A：上海蔚迈科技信息有限公司致力于会展行业一站式服务平台搭建。公司经过多年对于会展行业服务的经验并大量调查了解客户的需求，整合了现有资源开发出适合未来发展的革命性产品。蔚迈平台通过一站式竞价系统，让企业用户直接跳过传统中间商拿到最优惠的价格，再通过平台实时监督流程，以高质量的服务完成企业的要求，让企业能够真正感受到创新模式带来业绩和管理的提升。</p>
            <p>Q：上海蔚迈科技信息有限公司是一家什么公司？</p>
            <p>A：上海蔚迈科技信息有限公司致力于会展行业一站式服务平台搭建。公司经过多年对于会展行业服务的经验并大量调查了解客户的需求，整合了现有资源开发出适合未来发展的革命性产品。蔚迈平台通过一站式竞价系统，让企业用户直接跳过传统中间商拿到最优惠的价格，再通过平台实时监督流程，以高质量的服务完成企业的要求，让企业能够真正感受到创新模式带来业绩和管理的提升。</p>
            <p>Q：上海蔚迈科技信息有限公司是一家什么公司？</p>
            <p>A：上海蔚迈科技信息有限公司致力于会展行业一站式服务平台搭建。公司经过多年对于会展行业服务的经验并大量调查了解客户的需求，整合了现有资源开发出适合未来发展的革命性产品。蔚迈平台通过一站式竞价系统，让企业用户直接跳过传统中间商拿到最优惠的价格，再通过平台实时监督流程，以高质量的服务完成企业的要求，让企业能够真正感受到创新模式带来业绩和管理的提升。</p>
          </div>
        </li>
        <li id="about">
          <div class="para">
            <h1>关于蔚迈</h1>
            <p>上海蔚迈科技信息有限公司致力于会展行业一站式服务平台搭建。公司经过多年对于会展行业服务的经验并大量调查了解客户的需求，整合了现有资源开发出适合未来发展的革命性产品。蔚迈平台通过一站式竞价系统，让企业用户直接跳过传统中间商拿到最优惠的价格，再通过平台实时监督流程，以高质量的服务完成企业的要求，让企业能够真正感受到创新模式带来业绩和管理的提升。</p>
            <p>企业文化：</p>
            <p>创业理念：没有失败，只有放弃。</p>
            <p>工作理念：专心，专注，专业，不为成功而自喜，不为失败而锤头。</p>
            <p>团队理念：成就别人，成就自己。</p>
            <p>服务理念：客户至上，以客户满意为目标。</p>
            <p>成长理念：努力没有尽头，梦想没有极限。</p>
            <p>管理理念：造企先造人，造人先造己。</p>
            <p>晋升理念：能者上,平者让,庸者下。</p>
            <p>执行理念：没有理由，没有借口，没有不可能。</p>
            <p>行动理念：身体迅于思想。</p>
            <p>经营理念：客户第一，员工第二，股东第三。</p>
            <p>发展理念：以个人退公司进为指导原则，以局部让全局取为核心思想。</p>
            <p>未来，我们将继续提高及创新我们的自身能力，打造一个优质的国际会展交流和分享平台，一如</p><p>既往的为广大的参会人士提供高品质的会展服务。</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
