<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
        <div id="push" class="push">
            <a href="/online/flightinfo">
              <p class="title">华山医院会议</p>
              <p class="place">华山医院</p>
              <p class="time">2016/09/01</p>
            </a>
            <a href="/online/flightinfo">
              <p class="title">新华医院会议</p>
              <p class="place">新华医院</p>
              <p class="time">2016/09/05</p>
            </a>
        </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
