<% include ./layout/head.ejs %>
<div class="out white">
	<div class="in">
		<div class="main" id="main" name="main">
			<div id="app"></div>
			<script type="text/template" id="tpl">
				<table class="form result-table" width="100%">
					<tr>
						<td colspan="6">
							<img src='/img/online/ll.png' />
						</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td>TO:</td>
						<td></td>
						<td>From:</td>
						<td colspan='3'></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td>收件人:</td>
						<td>{{vendor.name}}</td>
						<td>发送:</td>
						<td colspan='3'></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td>Tel:</td>
						<td>{{vendor.cell}}</td>
						<td>Tel:</td>
						<td colspan='3'></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td>Fax:</td>
						<td></td>
						<td>Fax:</td>
						<td colspan='3'></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td>E-mail:</td>
						<td></td>
						<td>E-mail:</td>
						<td colspan='3'></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr>
						<td width='10%'>&nbsp;</td>
						<td width='40%'></td>
						<td width='10%'></td>
						<td width='10%'></td>
						<td width='10%'></td>
						<td width='10%'></td>
						<td class="" width='14%'></td>
						<td v-show="isClient" class="dd" width='14%'></td>
					</tr>
					<tr>
						<td colspan="6">您好！！</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr>
						<td colspan="6">感谢您对我公司的大力支持。</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr>
						<td colspan="6">根据贵公司的要求，我公司制定的会议结算单分列如后，请查阅，如有问题，请随时与我联系。</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tc">内容</td>
						<td class="tc">单价</td>
						<td class="tc">天数/次数</td>
						<td class="tc">人数/数量</td>
						<td class="tc">总价</td>
						<td class="tc dd">状态</td>
						<td v-show="isClient" class="tc dd">操作</td>
					</tr>
					<tr class="b">
						<td class="tc">1</td>
						<td>住宿</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('hotel')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="hotel in offer.hotel">
						<td></td>
						<td>
							<span v-show="!(isVendor && (hotel.checked==2 || hotel.checked==null))">
								{{hotel.date_start.substr(0,10)}}-{{hotel.date_end.substr(0,10)}}{{hotel.name}}{{hotel.type_name}}
							</span>
							<span v-show="isVendor && (hotel.checked==2 || hotel.checked==null)">
								<input class="spinput" type="date"
									:value="hotel.date_start.substr(0,10)"
									v-model="hotel.date_start_local"
									@change="timeset(hotel,'date_start',hotel.date_start_local)"
									:readonly="!isVendor || (hotel.checked!=2 && hotel.checked!=null)" />
								-
								<input class="spinput" type="date"
									:value="hotel.date_end.substr(0,10)"
									v-model="hotel.date_end_local"
									@change="timeset(hotel,'date_end',hotel.date_end_local)"
									:readonly="!isVendor || (hotel.checked!=2 && hotel.checked!=null)" />
								<select v-model="hotel.type_id" @change="select(hotel,'hoteltype')" 
									class="spinput" :disabled="!isVendor || (hotel.checked!=2 && hotel.checked!=null)">
									<option v-for="(index,value) in hoteltype" :value="index+1">{{value}}</option>
								</select>
								<input class="spinput" type="text" v-model="hotel.name" 
									placeholder="请输入酒店名称"
									:readonly="!isVendor || (hotel.checked!=2 && hotel.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (hotel.checked==2 || hotel.checked==null))">
								{{hotel.price}}
							</span>
							<span v-show="isVendor && (hotel.checked==2 || hotel.checked==null)">
								<input class="spinput" type="tel" v-model="hotel.price" 
								@change="count"
								:readonly="!isVendor || (hotel.checked!=2 && hotel.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{hotel.days}}
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (hotel.checked==2 || hotel.checked==null))">
								{{hotel.room}}
							</span>
							<span v-show="isVendor && (hotel.checked==2 || hotel.checked==null)">
								<input class="spinput" type="tel" v-model="hotel.room" 
								@change="count"
								:readonly="!isVendor || (hotel.checked!=2 && hotel.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{hotel.total}}
						</td>
						<td class="checkbtn">
								<span v-show="hotel.checked==1" class="check">(已经确认)</span>
								<span v-show="hotel.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!hotel.checked" @click="confirm(hotel,'hotel')" class="surebtn">确认</button>
							<button v-show="!hotel.checked" @click="refuse(hotel,'hotel')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.hotel_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">2</td>
						<td>会场</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('area')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="area in offer.area">
						<td></td>
						<td>
							<span v-show="!(isVendor && (area.checked==2 || area.checked==null))">
								{{area.date_start.substr(0,10)}}-{{area.date_end.substr(0,10)}}{{area.type_name}}
							</span>
							<span v-show="isVendor && (area.checked==2 || area.checked==null)">
								<input class="spinput" type="date"
									:value="area.date_start.substr(0,10)"
									v-model="area.date_start_local"
									@change="timeset(area,'date_start',area.date_start_local)"
									:readonly="!isVendor || (area.checked!=2 && area.checked!=null)" />
								-
								<input class="spinput" type="date"
									:value="area.date_end.substr(0,10)"
									v-model="area.date_end_local"
									@change="timeset(area,'date_end',area.date_end_local)"
									:readonly="!isVendor || (area.checked!=2 && area.checked!=null)" />
								<select v-model="area.type_id" @change="select(area,'areatype')"
									class="spinput" :disabled="!isVendor || (area.checked!=2 && area.checked!=null)">
									<option v-for="(index,value) in areatype" :value="index+1">{{value}}</option>
								</select>
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (area.checked==2 || area.checked==null))">
								{{area.price}}
							</span>
							<span v-show="isVendor && (area.checked==2 || area.checked==null)">
								<input class="spinput" type="tel" v-model="area.price" 
									@change="count"
									:readonly="!isVendor || (area.checked!=2 && area.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{area.days}}
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (area.checked==2 || area.checked==null))">
								{{area.people}}
							</span>
							<span v-show="isVendor && (area.checked==2 || area.checked==null)">
								<input class="spinput" type="tel" v-model="area.people" 
									@change="count"
									:readonly="!isVendor || (area.checked!=2 && area.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{area.total}}
						</td>
						<td class="checkbtn">
								<span v-show="area.checked==1" class="check">(已经确认)</span>
								<span v-show="area.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!area.checked" @click="confirm(area,'area')" class="surebtn">确认</button>
							<button v-show="!area.checked" @click="refuse(area,'area')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.area_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">3</td>
						<td>用餐</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('dinner')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="dinner in offer.dinner">
						<td></td>
						<td>
							<span v-show="!(isVendor && (dinner.checked==2 || dinner.checked==null))">
								{{dinner.date_start.substr(0,10)}}-{{dinner.date_end.substr(0,10)}}{{dinner.type_name}}
							</span>
							<span v-show="isVendor && (dinner.checked==2 || dinner.checked==null)">
								<input class="spinput" type="date"
									:value="dinner.date_start.substr(0,10)"
									v-model="dinner.date_start_local"
									@change="timeset(dinner,'date_start',dinner.date_start_local)"
									:readonly="!isVendor || (dinner.checked!=2 && dinner.checked!=null)" />
								-
								<input class="spinput" type="date"
									:value="dinner.date_end.substr(0,10)"
									v-model="dinner.date_end_local"
									@change="timeset(dinner,'date_end',dinner.date_end_local)"
									:readonly="!isVendor || (dinner.checked!=2 && dinner.checked!=null)" />
								<select v-model="dinner.type_id" @change="select(dinner,'dinnertype')" 
									class="spinput" :disabled="!isVendor || (dinner.checked!=2 && dinner.checked!=null)">
									<option v-for="(index,value) in dinnertype" :value="index+1">{{value}}</option>
								</select>
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (dinner.checked==2 || dinner.checked==null))">
								{{dinner.price}}
							</span>
							<span v-show="isVendor && (dinner.checked==2 || dinner.checked==null)">
								<input class="spinput" type="tel" v-model="dinner.price" 
								@change="count"
								:readonly="!isVendor || (dinner.checked!=2 && dinner.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{dinner.days}}
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (dinner.checked==2 || dinner.checked==null))">
								{{dinner.people}}
							</span>
							<span v-show="isVendor && (dinner.checked==2 || dinner.checked==null)">
								<input class="spinput" type="tel" v-model="dinner.people" 
								@change="count"
								:readonly="!isVendor || (dinner.checked!=2 && dinner.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{dinner.total}}
						</td>
						<td class="checkbtn">
								<span v-show="dinner.checked==1" class="check">(已经确认)</span>
								<span v-show="dinner.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!dinner.checked" @click="confirm(dinner,'dinner')" class="surebtn">确认</button>
							<button v-show="!dinner.checked" @click="refuse(dinner,'dinner')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.dinner_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">4</td>
						<td>用车</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('car')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="car in offer.car">
						<td></td>
						<td>
							<span v-show="!(isVendor && (car.checked==2 || car.checked==null))">
								{{car.type_name}}{{carusage[car.usage]}}
							</span>
							<span v-show="isVendor && (car.checked==2 || car.checked==null)">
								<select v-model="car.type_id" @change="select(car,'cartype')"
									class="spinput" :disabled="!isVendor || (car.checked!=2 && car.checked!=null)">
									<option v-for="(index,value) in cartype" :value="index+1">{{value}}</option>
								</select>
								<select v-model="car.usage" @change="select(car,'carusage')"
									class="spinput" :disabled="!isVendor || (car.checked!=2 && car.checked!=null)">
									<option v-for="(index,value) in carusage" :value="index">{{value}}</option>
								</select>
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (car.checked==2 || car.checked==null))">
								{{car.price}}
							</span>
							<span v-show="isVendor && (car.checked==2 || car.checked==null)">
								<input class="spinput" type="tel" v-model="car.price" 
									@change="count"
									:readonly="!isVendor || (car.checked!=2 && car.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (car.checked==2 || car.checked==null))">
								{{car.days}}
							</span>
							<span v-show="isVendor && (car.checked==2 || car.checked==null)">
								<input class="spinput" type="tel" v-model="car.days" 
									@change="count"
									:readonly="!isVendor || (car.checked!=2 && car.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (car.checked==2 || car.checked==null))">
								{{car.people}}
							</span>
							<span v-show="isVendor && (car.checked==2 || car.checked==null)">
								<input class="spinput" type="tel" v-model="car.people" 
									@change="count"
									:readonly="!isVendor || (car.checked!=2 && car.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{car.total}}
						</td>
						<td class="checkbtn">
								<span v-show="car.checked==1" class="check">(已经确认)</span>
								<span v-show="car.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!car.checked" @click="confirm(car,'car')" class="surebtn">确认</button>
							<button v-show="!car.checked" @click="refuse(car,'car')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.car_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">5</td>
						<td>物料</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('other')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="other in offer.other">
						<td></td>
						<td>
							<span v-show="!(isVendor && (other.checked==2 || other.checked==null))">
								{{other.type_name}}
							</span>
							<span v-show="isVendor && (other.checked==2 || other.checked==null)">
								<select v-model="other.type_id" @change="select(other,'othertype')"
									class="spinput" :disabled="!isVendor || (other.checked!=2 && other.checked!=null)">
									<option v-for="(index,value) in othertype" :value="index+1">{{value}}</option>
								</select>
								<select v-model="other.need"
									class="spinput" :disabled="!isVendor || (other.checked!=2 && other.checked!=null)">
									<option value="true">是</option>
									<option value="false">否</option>
								</select>
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (other.checked==2 || other.checked==null))">
								{{other.total}}
							</span>
							<span v-show="isVendor && (other.checked==2 || other.checked==null)">
								<input class="spinput" type="tel" v-model="other.total" 
									@change="count"
									:readonly="!isVendor || (other.checked!=2 && other.checked!=null)" />
							</span>
						</td>
						<td class="tr">
						</td>
						<td class="tr">1</td>
						<td class="tr">
							{{other.total}}
						</td>
						<td class="checkbtn">
								<span v-show="other.checked==1" class="check">(已经确认)</span>
								<span v-show="other.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!other.checked" @click="confirm(other,'other')" class="surebtn">确认</button>
							<button v-show="!other.checked" @click="refuse(other,'other')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.other_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">6</td>
						<td>额外项目</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""><button v-show="isVendor" @click="add('sth')">添加一项</button></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr v-for="sth in offer.sth">
						<td></td>
						<td>
							<span v-show="!(isVendor && (sth.checked==2 || sth.checked==null))">
								{{sth.name}}
							</span>
							<span v-show="isVendor && (sth.checked==2 || sth.checked==null)">
								<input class="spinput" type="tel" v-model="sth.name" 
									@change="count"
									:readonly="!isVendor || (sth.checked!=2 && sth.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (sth.checked==2 || sth.checked==null))">
								{{sth.price}}
							</span>
							<span v-show="isVendor && (sth.checked==2 || sth.checked==null)">
								<input class="spinput" type="tel" v-model="sth.price" 
									@change="count"
									:readonly="!isVendor || (sth.checked!=2 && sth.checked!=null)" />
							</span>
						</td>
						<td class="tr">
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (sth.checked==2 || sth.checked==null))">
								{{sth.people}}
							</span>
							<span v-show="isVendor && (sth.checked==2 || sth.checked==null)">
								<input class="spinput" type="tel" v-model="sth.people" 
									@change="count"
									:readonly="!isVendor || (sth.checked!=2 && sth.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{sth.total}}
						</td>
						<td class="checkbtn">
								<span v-show="sth.checked==1" class="check">(已经确认)</span>
								<span v-show="sth.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!sth.checked" @click="confirm(sth,'sth')" class="surebtn">确认</button>
							<button v-show="!sth.checked" @click="refuse(sth,'sth')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">{{offer.sth_all}}</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td class="tc">7</td>
						<td>陪同费用</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="">
						<td></td>
						<td>陪同人员</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.with_price}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.with_price" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.with_people}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.with_people" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.with_people_num}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.with_people_num" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
								{{offer.with.with_total}}
						</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="">
						<td></td>
						<td>地接人员</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.catch_price}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.catch_price" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.catch_people}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.catch_people" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.with.checked==2 || offer.with.checked==null))">
								{{offer.with.catch_people_num}}
							</span>
							<span v-show="isVendor && (offer.with.checked==2 || offer.with.checked==null)">
								<input class="spinput" type="tel" v-model="offer.with.catch_people_num" 
									@change="count"
									:readonly="!isVendor || (offer.with.checked!=2 && offer.with.checked!=null)" />
							</span>
						</td>
						<td class="tr">
							{{offer.with.catch_total}}
						</td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">小计</td>
						<td colspan="4" class="tr sky">
							{{parseFloat(offer.with.with_total||0) + parseFloat(offer.with.catch_total||0)}}
						</td>
						<td class="checkbtn">
								<span v-show="offer.with.checked==1" class="check">(已经确认)</span>
								<span v-show="offer.with.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!offer.with.checked" @click="confirm(offer.with,'with')" class="surebtn">确认</button>
							<button v-show="!offer.with.checked" @click="refuse(offer.with,'with')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td class="tc">8</td>
						<td>服务费:按照总活动金额%计算</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td class=""></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td class="tr">
							{{offer.total-offer.fee.total}}
						</td>
						<td></td>
						<td class="tr">
							<span v-show="!(isVendor && (offer.fee.checked==2 || offer.fee.checked==null))">
								{{feeptype[offer.fee.percent]}}
							</span>
							<span v-show="isVendor && (offer.fee.checked==2 || offer.fee.checked==null)">
								<select v-model="offer.fee.percent" @change="select(offer.fee,'feetype')"
									class="spinput" :disabled="!isVendor || (offer.fee.checked!=2 && offer.fee.checked!=null)">
									<option v-for="(index,value) in feetype" :value="index+1">{{value}}</option>
								</select>
							</span>
						</td>
						<td class="tr">
							{{offer.fee.total}}
						</td>
						<td class="checkbtn">
								<span v-show="offer.fee.checked==1" class="check">(已经确认)</span>
								<span v-show="offer.fee.checked==2" class="deny">(有异议)</span>
						</td>
						<td v-show="isClient" class="dd">
							<button v-show="!offer.fee.checked" @click="confirm(offer.fee,'fee')" class="surebtn">确认</button>
							<button v-show="!offer.fee.checked" @click="refuse(offer.fee,'fee')" class="diffbtn">有异议</button>
						</td>
					</tr>
					<tr class="b">
						<td></td>
						<td class="tr">费用总计：</td>
						<td colspan="4" class="tr sky">{{offer.total}}</td>
						<td><span v-show="offer.state==3" class="check">(已经确认)<span></td>
						<td v-show="isClient" class="dd"></td>
					</tr>
				</table>
				<button v-show="offer.state!=3 && isClient && isAllCheck" @click="complete" class="resultbtn complete">全部完成</button>
				<button v-show="offer.state!=3 && isVendor" @click="save" class="resultbtn">保存</button>
				<button v-show="offer.state==3" @click="topdf" class="resultbtn" id="pdf">生成pdf</button>
			</script>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>