<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<div class="room-list">
				<img class="r1" src="/img/online/r1.jpg" />
				<img class="r3" src="/img/online/r3.jpg" />
				<img class="r2" src="/img/online/r2.jpg" />
				<img class="r4" src="/img/online/r4.jpg" />
				<img class="r5" src="/img/online/r5.jpg" />
			</div>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>