<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<div class="pic-list">
				<img class="s1" src="/img/mobile/s1.jpg"/>
				<img class="s2" src="/img/mobile/s2.jpg"/>
				<img class="s3" src="/img/mobile/s3.jpg"/>
				<img class="s4" src="/img/mobile/s4.jpg"/>
				<img class="s5" src="/img/mobile/s5.jpg"/>
				<img class="s6" src="/img/mobile/s6.jpg"/>
				<img class="s7" src="/img/mobile/s7.jpg"/>
				<img class="s9" src="/img/mobile/s9.jpg"/>
				<img class="s8" src="/img/mobile/s8.jpg"/>
			</div>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>