<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
      <div class="all-form">
        <div class="form login-form hide">
          <p>签约商账号登录</p>
          <input type="text" id="vendorName" placeholder="请输入姓名"/>
          <input type="tel" id="vendorCell" placeholder="请输入手机号"/>
          <input type="password" id="vendorPsw" placeholder="请输入密码" />
          <button id="loginVendor">登录</button>
          <a href="/online/callback">找回密码</a>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
