<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<embed class="fullvideo" src="http://player.youku.com/player.php/sid/XMTUyNzA1Mjg2MA==/v.swf" allowFullScreen="true" quality="high" width="1080" height="720" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
			<embed class="fullvideo" src="http://player.youku.com/player.php/sid/XMTUxMjQzNzc5Ng==/v.swf" allowFullScreen="true" quality="high" width="1080" height="720" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>
