<% include ./layout/head.ejs %>
<div class="main" id="main">
  <div class="out">
    <div class="in">
      <div class="detail" id="detail"></div>
    </div>
  </div>
</div>
<% include ./layout/foot.ejs %>
