.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
@charset "utf-8";
/*--base style--*/
*{margin:0;padding:0;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-touch-callout: none;}
body{
  color:#333;
  background:#fff;
  font-size: 14px;
  line-height: 1.5;
}
body,input,textarea,button{
  font:12px/1.5 "Microsoft Yahei",arial,sans-serif;
  -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
li{list-style-type: none;}
a{text-decoration: none;color: #666;}
/*--common style--*/
.hide{
  display: none !important; 
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.f1{
  flex: 1;
}
.tc{
  text-align: center;
}
/*--index--*/
.out{
  width: 100%;
  overflow: hidden;
}
.in{
  margin: 0 auto;
  width: 1080px;
}

.cmstable{
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}
.cmstable td{
  border: 1px solid #eee;
  height: 40px;
  text-align: center;
}
.cmstable td span{
  color: #127bb2;
  cursor: pointer;
}
.cmstable td span:hover{
  color: #0980cd;
  text-decoration: underline;
}
p.title{
  font-size: 18px;
  line-height: 42px;
}
.rbnav{
  height: 60px;
  line-height: 60px;
  color: #eee;
  font-size: 20px;
  background: #333;
}
.nav{
  width: 100%;
}
.nav li{
  width: 200px;
  float: left;
  text-align: center;
  cursor: pointer;
}
.nav li a{
  display: block;
}
.nav li.on,
.nav li:hover{
  background-color: #666;
  color: #fff;
}
.nav li.on a,.nav li:hover a{
  color:#fff;
}