<div class="out redbg">
	<div class="in footban">
		<div class="footbanin">
			<h2>品质蔚迈，值得信赖</h2>
			<span>中国最大的场地资源库</span>
			<span>最专业的场地服务团队</span>
			<span>最专业的场地活动服务</span>
			<span>公司最快速的响应速度</span>
		</div>
	</div>
</div>
<div class="out darkbg">
	<div class="in">
		<ul class="footlink">
			<li>
				<dl>
					<dt>热门会议地址</dt>
					<dd><a href="http://www.hilton.com.cn/">
					<img src="/img/online/hilton_tiny.png" alt="" />
					希尔顿酒店集团<br/>
					(Hilton Hotels Corporation)</a></dd>
					<dd><a href="http://www.ichotelsgroup.com/">
					<img src="/img/online/ihg_tiny.png" alt="" />
					洲际国际酒店集团<br/>
					(Intercontinental Hotels Group)</a></dd>
					<dd><a href="http://www.marriott.com.cn/Channels/globalSites/default.mi?country=CHINA">
					<img src="/img/online/marriott_tiny.png" alt="" />
					万豪国际酒店集团公司<br/>
					(Marriott International, Inc. Hotels)</a></dd>
					<dd><a href="http://www.harbour-plaza.com/sc/index.aspx">
					<img src="/img/online/harbour_tiny.png" alt="" />
					海逸国际酒店集团<br/>
					( Harbor Plaza Hotels & Resorts Hotels)</a></dd>
					<dd><a href="http://www.bestwestern.com/">
					<img src="/img/online/bw_tiny.png" alt="" />
					BESTWESTERN酒店管理集团<br/>
					(Best Western International)</a></dd>
					<dd><a href="http://www.daysinn.cn/index.html">
					<img src="/img/online/dh_tiny.png" alt="" />
					圣达特国际集团<br/>
					(CENDANT Corporation)</a></dd>
					<dd><a href="https://www.kempinski.com/zh-cn/hotels/welcome/">
					<img src="/img/online/kempinski_tiny.png" alt="" />
					凯宾斯基国际酒店集团</a></dd>
					<dd><a href="http://starwoodhotels.com/corporate/index.html?language=zh_CN">
					<img src="/img/online/starwood_tiny.png" alt="" />
					喜达屋国际酒店集团<br/>
					(Starwood Hotels & Resorts Worldwide)</a></dd>
					<dd><a href="http://www.accor.com/gb/index.asp">
					<img src="/img/online/accor_tiny.png" alt="" />
					雅高集团<br/>
					(ACCOR)</a></dd>
					<dd><a href="http://www.shangri-la.com/cn">
					<img src="/img/online/shangri_tiny.png" alt="" />
					香格里拉酒店集团</a></dd>
				</dl>
			</li>
			<li>
				<dl class="nm">
					<dt>友情链接</dt>
					<dd><a href="http://www.nian-hui.com/">年会网</a></dd>
					<dd><a href="http://bbs.fengniao.com/">数码摄影论坛</a></dd>
					<dd><a href="http://sh.58.com/zhanhuifuwu/">58同城会展服务</a></dd>
					<dd><a href="http://www.ganji.com/lvyou/">赶集网旅游</a></dd>
					<dd><a href="http://www.cts010.com/">中青国际旅游</a></dd>
					<dd><a href="http://www.cits-hl8580.com/">深圳旅行社</a></dd>
					<dd><a href="http://www.fsmeeting.com/?tg">高清视频会议</a></dd>
					<dd><a href="http://www.zjjhygs.com/">张家界会议公司</a></dd>
					<dd><a href="http://www.qudao.com/">渠道网</a></dd>
					<dd><a href="http://www.sjzql.cn/">石家庄旅行社</a></dd>
					<dd><a href="http://www.tujia.com/zhanjiang_gongyu/se0/?utm_source=baidu&utm_medium=cpc&kwid=47681699961&adid=11854487077&match=1&pos=cl2&utm_term=4af9af41-96bb-4647-a7e2-b3811f0c8068">湛江酒店</a></dd>
					<dd><a href="http://www.hdscar.com/">汕头二手车</a></dd>
					<dd><a href="http://www.lyyly.com/">乐悠悠旅游网</a></dd>
					<dd><a href="http://www.zyx520.com/zhinan/show.asp?id=725">张家界自助游</a></dd>
					<dd><a href="http://bj.52njl.com/zixun/jingquzixun/shidu/8785.html">十渡农家院</a></dd>
					<dd><a href="http://www.qd6u.com/">青岛旅行社</a></dd>
					<dd><a href="http://mlw.zhengzhoulvxing.com/">郑州马拉湾</a></dd>
					<dd><a href="http://www.go2tw.cn/">台湾自由行</a></dd>
					<dd><a href="http://www.tmtpost.com/">钛媒体</a></dd>
					<dd><a href="http://www.027djc.com/hotel/02/">武汉会议酒店</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<div class="out silver">
	<div class="in">
		<div class="ownline tc">
			<a href="/online/about">关于我们</a>&nbsp;|&nbsp;<a href="/online/contact">联系我们</a>&nbsp;|&nbsp;<a href="/online/join">加入我们</a><br/>
			<p>你也可以致电400-806-9277免费咨询会议专家</p>
			<p>© 2010-2016 WEIMAI. All Rights XXXXX | 蔚迈</p>
		</div>
	</div>
</div>


<script type="text/javascript" defer async="true" data-main="/js/<%=path%>.js" src="/lib/require.js"></script>