<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<div class="pic-list">
				<img src="/img/mobile/s1.jpg"/>
				<img src="/img/mobile/s2.jpg"/>
				<img src="/img/mobile/s3.jpg"/>
				<img src="/img/mobile/s4.jpg"/>
				<img src="/img/mobile/s5.jpg"/>
				<img src="/img/mobile/s6.jpg"/>
				<img src="/img/mobile/s7.jpg"/>
				<img src="/img/mobile/s8.jpg"/>
				<img src="/img/mobile/s9.jpg"/>
			</div>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>
