<% include ./layout/head.ejs %>
<div class="main" id="main">
	<div class="out">
		<div class="in">
			<iframe class="fullvideo" src="http://player.youku.com/embed/XMTUyNzA1Mjg2MA==" frameborder=0 allowfullscreen></iframe>
			<iframe class="fullvideo" src="http://player.youku.com/embed/XMTUxMjQzMTkyMA==" frameborder=0 allowfullscreen></iframe>
		</div>
	</div>
</div>
<% include ./layout/foot.ejs %>
