<% include ../layout/head.ejs %>
<div class="main" id="main">
	<ul class="toptab">
		<li class="on">客户登录</li>
		<li>供应商登录</li>
	</ul>
	<input type="hidden" id="type" value="client"/>
	<form class="form login-form">
		<input type="text" id="name" placeholder="请输入姓名"/>
		<input type="tel" id="cell" placeholder="请输入手机号"/>
		<input type="password" id="psw" placeholder="请输入密码" />
		<button id="sign">注册</button>
	</form>
</div>
<% include ../layout/foot.ejs %>
