@charset "utf-8";
/*--base style--*/
*{margin:0;padding:0;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-touch-callout: none;}
body{
	color:#333;
	background:#fff;
	font-size: 14px;
	line-height: 1.5;
}
body,input,textarea,button{
	font:12px/1.5 "Microsoft Yahei",arial,sans-serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
li{list-style-type: none;}
a{text-decoration: none;color: #666;}
/*--common style--*/
.hide{
	display: none !important; 
}
.fl{
	float:left;
}
.fr{
	float: right;
}
.f1{
	flex: 1;
}
.tc{
	text-align: center;
}
.blue{
	color:blue !important;
	font-size: 16px;
}
.green{
	color:green !important;
	font-size: 16px;
}
.red{
	color:red !important;
	font-size: 16px;
}
span.orange{
	color:orange !important;
	font-size: 16px;
}
/*--index--*/
.out{
	width: 100%;
	overflow: hidden;
}
.in{
	margin: 0 auto;
	width: 1080px;
}
.graybg{
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
}
.toplink{
	height: 32px;
	line-height: 32px;
	overflow: hidden;
}
.toplink li{
	margin: 0 10px;
	float: left;
}
.header{
	margin-top: 10px;
	height: 100px;
	text-align: center;
	overflow: hidden;
}
.header .logo{
	display: block;
}
.header img{
	display: block;
	height: 80px;
}
.header .hotline{
	padding: 5px 0;
	width: 300px;
	position: relative;
	z-index: 1;
}
.header .hotline-n{
	display: block;
	font-size: 28px;
	line-height: 30px;
	color: #0b689e;
}
.header .hotline-p{
	display: block;
	font-size: 16px;
	line-height: 36px;
	color: #333;
}
.header .highlight{
	display: inline-block;
	width: 30%;
	color: #18aee2;
	text-decoration: underline;
}
.rbnav{
	padding-top: 10px;
	margin-top: 10px;
	border-bottom: 2px solid #1c8ae4;
}
.nav li{
	float: left;
}
.nav li a{
	display: block;
	width: 85px;
	text-align: center;
	line-height: 36px;
	font-size: 16px;
  color: #000;
  font-weight: bold;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #fff;
}
.nav li.on a,
.nav li a:hover{
	color: #fff;
	background: #1c8ae4;
}
.banner{
	float: left;
	margin-top: 20px;
	width: 800px;
	height: 531px;
	overflow: hidden;
}
.bannerin{
	width: 1000%;
	overflow: hidden;
	-webkit-animation:slide 70s ease infinite;
	animation: slide 70s ease infinite;
}
.bannerin a{
	display: block;
	width: 10%;
	float: left;
	height: 100%;
}
.bannerin a img{
	display: block;
	width: 100%;
	height: 100%;
}


.redbg{
	margin-top: 30px;
	background: #1c8ae4;
}
.footban h2,
.footban span{
	float: left;
	margin: 0 40px;
	color: #fff;
	line-height: 42px;
}
.darkbg{
	background: #0c4f7d;
}
.silver{
	background: #073968;
}
.footlink {
	padding: 20px 0;
	overflow: hidden;
}
.footlink li{
	float: left;
	padding: 0 30px;
	box-sizing: border-box;
}
.footlink dl{
	width: 100%;
	overflow: hidden;
}
.footlink dd{
	float: left;
}
.footlink dt{
	color:#fff;
	font-size: 16px;
	line-height: 32px;
}
.footlink dd a{
	display: block;
	margin: 20px 0;
	float: left;
	width: 240px;
	line-height: 18px;
	color: #ccc;
	text-align: center;
}
.footlink .nm dd a{
	margin: 2px 0;
	width: 180px;
}
.footlink dd a img{
	display: block;
	margin: 0 auto 5px auto;
	height: 50px;
}
.ownline{
	padding: 20px 0;
}
.ownline,
.ownline a{
	color: #fff;
	line-height: 32px;
}
.ownline p{
	line-height: 24px;
	color: #ccc;
}
@-webkit-keyframes slide{
	0%{
		-webkit-transform: translate(0,0);
	}
	9%{
		-webkit-transform: translate(0,0);
	}
	10%{
		-webkit-transform: translate(-10%,0);
	}
	19%{
		-webkit-transform: translate(-10%,0);
	}
	20%{
		-webkit-transform: translate(-20%,0);
	}
	29%{
		-webkit-transform: translate(-20%,0);
	}
	30%{
		-webkit-transform: translate(-30%,0);
	}
	39%{
		-webkit-transform: translate(-30%,0);
	}
	40%{
		-webkit-transform: translate(-40%,0);
	}
	49%{
		-webkit-transform: translate(-40%,0);
	}
	50%{
		-webkit-transform: translate(-50%,0);
	}
	59%{
		-webkit-transform: translate(-50%,0);
	}
	60%{
		-webkit-transform: translate(-60%,0);
	}
	69%{
		-webkit-transform: translate(-60%,0);
	}
	70%{
		-webkit-transform: translate(-70%,0);
	}
	79%{
		-webkit-transform: translate(-70%,0);
	}
	80%{
		-webkit-transform: translate(-80%,0);
	}
	95%{
		-webkit-transform: translate(-80%,0);
	}
	96%{
		-webkit-transform: translate(-90%,0);
	}
	100%{
		-webkit-transform: translate(-90%,0);
	}
}
@keyframes slide{
	0%{
		transform: translate(0,0);
	}
	9%{
		transform: translate(0,0);
	}
	10%{
		transform: translate(-10%,0);
	}
	19%{
		transform: translate(-10%,0);
	}
	20%{
		transform: translate(-20%,0);
	}
	29%{
		transform: translate(-20%,0);
	}
	30%{
		transform: translate(-30%,0);
	}
	39%{
		transform: translate(-30%,0);
	}
	40%{
		transform: translate(-40%,0);
	}
	49%{
		transform: translate(-40%,0);
	}
	50%{
		transform: translate(-50%,0);
	}
	59%{
		transform: translate(-50%,0);
	}
	60%{
		transform: translate(-60%,0);
	}
	69%{
		transform: translate(-60%,0);
	}
	70%{
		transform: translate(-70%,0);
	}
	79%{
		transform: translate(-70%,0);
	}
	80%{
		transform: translate(-80%,0);
	}
	95%{
		transform: translate(-80%,0);
	}
	96%{
		transform: translate(-90%,0);
	}
	100%{
		transform: translate(-90%,0);
	}
}
@-webkit-keyframes roll{
	0%{
		-webkit-transform: translate(0,0);
	}
	5.7%{
		-webkit-transform: translate(0,0);
	}
	6.7%{
		-webkit-transform: translate(0,-5%);
	}
	12.4%{
		-webkit-transform: translate(0,-5%);
	}
	13.4%{
		-webkit-transform: translate(0,-10%);
	}
	19.1%{
		-webkit-transform: translate(0,-10%);
	}
	20.1%{
		-webkit-transform: translate(0,-15%);
	}
	25.8%{
		-webkit-transform: translate(0,-15%);
	}
	26.8%{
		-webkit-transform: translate(0,-20%);
	}
	32.5%{
		-webkit-transform: translate(0,-20%);
	}
	33.5%{
		-webkit-transform: translate(0,-25%);
	}
	39.2%{
		-webkit-transform: translate(0,-25%);
	}
	40.2%{
		-webkit-transform: translate(0,-30%);
	}
	45.9%{
		-webkit-transform: translate(0,-30%);
	}
	46.9%{
		-webkit-transform: translate(0,-35%);
	}
	52.6%{
		-webkit-transform: translate(0,-35%);
	}
	53.6%{
		-webkit-transform: translate(0,-40%);
	}
	59.3%{
		-webkit-transform: translate(0,-40%);
	}
	60.3%{
		-webkit-transform: translate(0,-45%);
	}
	66%{
		-webkit-transform: translate(0,-45%);
	}
	67%{
		-webkit-transform: translate(0,-50%);
	}
	72.7%{
		-webkit-transform: translate(0,-50%);
	}
	73.7%{
		-webkit-transform: translate(0,-55%);
	}
	78.4%{
		-webkit-transform: translate(0,-55%);
	}
	79.4%{
		-webkit-transform: translate(0,-60%);
	}
	84.1%{
		-webkit-transform: translate(0,-60%);
	}
	85.1%{
		-webkit-transform: translate(0,-65%);
	}
	89.8%{
		-webkit-transform: translate(0,-65%);
	}
	90.8%{
		-webkit-transform: translate(0,-70%);
	}
	100%{
		-webkit-transform: translate(0,-70%);
	}
}
@keyframes roll{
	0%{
		transform: translate(0,0);
	}
	5.7%{
		transform: translate(0,0);
	}
	6.7%{
		transform: translate(0,-5%);
	}
	12.4%{
		transform: translate(0,-5%);
	}
	13.4%{
		transform: translate(0,-10%);
	}
	19.1%{
		transform: translate(0,-10%);
	}
	20.1%{
		transform: translate(0,-15%);
	}
	25.8%{
		transform: translate(0,-15%);
	}
	26.8%{
		transform: translate(0,-20%);
	}
	32.5%{
		transform: translate(0,-20%);
	}
	33.5%{
		transform: translate(0,-25%);
	}
	39.2%{
		transform: translate(0,-25%);
	}
	40.2%{
		transform: translate(0,-30%);
	}
	45.9%{
		transform: translate(0,-30%);
	}
	46.9%{
		transform: translate(0,-35%);
	}
	52.6%{
		transform: translate(0,-35%);
	}
	53.6%{
		transform: translate(0,-40%);
	}
	59.3%{
		transform: translate(0,-40%);
	}
	60.3%{
		transform: translate(0,-45%);
	}
	66%{
		transform: translate(0,-45%);
	}
	67%{
		transform: translate(0,-50%);
	}
	72.7%{
		transform: translate(0,-50%);
	}
	73.7%{
		transform: translate(0,-55%);
	}
	78.4%{
		transform: translate(0,-55%);
	}
	79.4%{
		transform: translate(0,-60%);
	}
	84.1%{
		transform: translate(0,-60%);
	}
	85.1%{
		transform: translate(0,-65%);
	}
	89.8%{
		transform: translate(0,-65%);
	}
	90.8%{
		transform: translate(0,-70%);
	}
	100%{
		transform: translate(0,-70%);
	}
}

/*login*/
.form{
	margin: 20px 0;
	font-size: 14px;
	line-height: 32px;
}
.form select,
.form input{
	width: 220px;
	padding: 0 5px;
	height: 32px;
	line-height: 32px;
}
.form button{
	width: 120px;
	height: 32px;
	line-height: 32px;
}
.login-form input,
.login-form button{
	display: block;
	margin: 20px 0;
}
.toptab{
	margin: 20px 0 10px 0;
	overflow: hidden;
}
.toptab li{
	float: left;
	width: 120px;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	text-align: center;
	border:1px solid #1c8ae4;
	cursor: pointer;
}
.toptab li:hover,
.toptab li.on{
	color: #fff;
	background: #1c8ae4;
}

/*user*/
.response-list,
.request-list,
.user-list{
	padding-bottom: 40px;
}
.response-list li,
.request-list li,
.user-list li{
	display: flex;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.response-list li span,
.request-list li span,
.user-list li span{
	display: inline-block;
	vertical-align: top;
	padding: 0 5px;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.response-list li a,
.request-list li a,
.user-list li button{
	display: inline-block;
	line-height: 28px;
	height: 28px;
	padding: 0 10px;
	color: #fff;
	background-color: #1c8ae4;
	border-radius: 3px;
	border:none;
}
.response-list li a.orange,
.request-list li a.orange{
	background-color: #ff6600;
}
.response-list li a{
	background-color: #44B384;
}
.response-list{
	width: 100%;
	/*margin:-10px;*/
	padding-bottom: 0;
}
.trend{
	background-color: #f5f5f5;
}
/*form*/
.form.data-form .btn-a{
	display: block;
	text-align: center;
	color: #fff;
	height: 32px;
	line-height: 32px;
	background: #0382D4;
	border-radius: 5px;
}
.form.data-form .btn-a:hover{
	background: #2880B3;
}
.form.data-form .form-line{
	/*padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;*/
}
.form.data-form .line-title{
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #1c8ae4;
	font-size: 16px;
	color: #fff;
	/*border-radius: 3px;*/
}
.form.data-form .form-pit{
	/*margin-top: 10px;*/
	/*padding:10px;*/
	background: #fff;
	/*border-radius: 5px;*/
	border:1px solid #999;
	border-top: none;
	overflow: hidden;
}
.form.data-form .form-subpit{
	/*margin: 10px 0;*/
	/*width: 100%;*/
	width: 133.7px;
	float: left;
	overflow: hidden;
	border-right:1px solid #999;
}
.form.data-form .form-subpit label{
	display: none;
	float:left;
	padding: 0 10px;
	/*width: 30%;*/
	width: 100%;
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #999;
}
.form.data-form .form-pit:nth-child(2)  .form-subpit label,
.form.data-form .form-pit.showlabel  .form-subpit label{
	display: block;
}
.form.data-form .form-subpit input,
.form.data-form .form-subpit select{
	float: left;
	width: 100%;
	border:none;
}

.form.data-form .memo{
	display: block;
	/*margin: 10px 0 0 0;*/
	padding: 0 5px;
    width: 100%;
    height: 72px;
    line-height: 24px;
    resize: none;
    /*border-radius: 3px;*/
    border: 1px solid #999;
    border-top: 0;
}
.form.data-form  .memo[readonly]{
	outline: none;
}
.form.data-form .memoup{
	padding: 0 10px;
	border: 1px solid #999;
    border-top: 0;
}
.form.data-form button{
	margin-top: 20px;
	width: 100%;
	height: 32px;
}
.form.data-form .addbtn{
	/*margin-top: 10px;*/
	margin-top: 2px;
	height: 28px;
	line-height: 28px;
	width: 80px;
	float: right;
	color: #ff6600;
	border-radius: 5px;
	background-color: #fff;
	border:1px solid #ff6600;
	cursor: pointer;
}
.form.data-form .addbtn:hover{
	background-color: #f5f5f5;
}
.form-calc,
.final{
	overflow: hidden;
	border:1px solid #999;
	border-top: 0;
	/*margin: 10px 0;*/
}
.final,
.finaltotal,
.form-calc div,
.form-calc label{
	display: block;
	padding: 0 10px;
	float: left;
	height: 32px;
	line-height: 32px;
	border-right:1px solid #999;
	margin: 0;
}
.final,
.finaltotal{
	border:1px solid #999;
	border-top: 0;
}
.finaltotal{
	width: 136px !important;
    height: 33px !important;
    border-left: 0;
}
.final,
.form-calc label{
	width: 921.8px;
}
.form-calc div{
	box-sizing: content-box !important;
	width: 113.9px !important;
}
.finaltotal{

}
.form.data-form .full{
	/*margin: 5px 0;*/
	/*width: 100%;*/
	display: block;
	box-sizing: border-box;
	width: 100%;
}
.pop{
	position: fixed;
	z-index:99;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}
.form.pop-line{
	position: absolute;
	left: 50%;
	top: 50%;
	overflow: auto;
	margin: -220px 0 0 -320px;
	width: 600px;
	height: 400px;
	padding: 20px;
	background-color: #f5f5f5;
	/*padding-bottom: 20px;
	margin-bottom: 20px;*/
	border-bottom: 1px solid #ccc;
}
.form.pop-line .btn-a{
	color: #fff;
	height: 32px;
	line-height: 32px;
	background: #0382D4;
	border-radius: 5px;
}
.form.pop-line .btn-a:hover{
	background: #2880B3;
}
.form.pop-line .line-title{
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #62ACDC;
	font-size: 16px;
	color: #fff;
	border-radius: 3px;
}
.form.pop-line .form-pit{
	margin-top: 10px;
	padding:10px;
	background: #fff;
	border-radius: 5px;
}
.form.pop-line .form-subpit{
	margin: 10px 0;
	width: 100%;
	overflow: hidden;
}
.form.pop-line .form-subpit label{
	display: block;
	float:left;
	width: 30%;
	height: 32px;
	line-height: 32px;
}
.form.pop-line .form-subpit input,
.form.pop-line .form-subpit select{
	float: left;
	width: 70%;
}
.form.pop-line .memo{
	display: block;
	margin: 10px 0 0 0;
	padding: 0 5px;
    width: 100%;
    height: 72px;
    line-height: 24px;
    resize: vertical;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.form.pop-line button{
	width: 100%;
	height: 32px;
}
.form.pop-line .addbtn{
	margin-top: 10px;
}
.form.pop-line .full{
	margin: 5px 0;
	width: 100%;
}
.form.pop-line .btns{
	margin-top: 20px;
	text-align: center;
}
.form.pop-line .btns button{
	width: 48%;
}
.close{
	float: right;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.pagelist{
	text-align: center;
	margin-top: 40px;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
}
.pagelist a{
	display: inline-block;
	*display: inline;
	zoom:1;
	vertical-align: top;
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	font-size: 14px;
	color: #fff;
	background-color: #1c8ae4;
	box-shadow: 0 2px 0 #0f4c85;
	border-radius: 3px;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
.pagelist a:hover,
.pagelist a.on{
	color: #fff;
	background-color: #4ea1e6;
	box-shadow: 0 2px 0 #3c678f;
}
.pagelist a.off,
.pagelist a.off:hover{
	color: #999;
	background-color: #f5f5f5;
	box-shadow: 0 2px 0 #ccc;
	cursor: default;
}
.responsetable{
	width: 100%;
	border:1px solid #333;
	border-collapse: collapse;
}
.responsetable td{
	color: #000;
	padding: 0 10px;
	border:1px solid #333;
}
.responsetable tr td:nth-child(1),
.responsetable .gray td{
	background-color: #F2F2F2;
}
.responsetable .sky td{
	background-color: #9CC3E6;
}
.responsetable .yellow td{
	background-color: #FFFF99;
}
.responsetable .mud td{
	background-color: #FFE799
}
.responsetable .deepyellow td{
	background-color: #FFC000;
}
.responsebtn{
	margin-top: 20px;
    width: 100%;
    height: 32px;
    line-height: 32px;
}
.responsetable tr td:last-child{
	text-align: right;
}
.tr{
	text-align: right;
}
.red{
	font-size: 16px;
	color: #ff6666;
}
.para h1{
	margin: 20px 0;
	text-align: center;
	line-height: 40px;
}
.para p{
	font-size: 14px;
	line-height: 32px;
	text-indent: 2em;
}
.fullvideo{
	margin:  20px 0;
	width: 100%;
}
.pic-list{
	margin-top: 10px;
	overflow: hidden;
}
.pic-list img{
	float: left;
	display: block;
}
.pic-list .s1{
	width: 58%;
	height:351px;
	margin-right: 1%;
}
.pic-list .s2{
	width: 41%;
}
.pic-list .s3{
	margin-top: 12px;
	width: 41%;
}
.pic-list .s4{
	margin-top: 10px;
	margin-right: 1%;
	width: 33%;
	height: 237px;
}
.pic-list .s5{
	margin-top: 10px;
	margin-right: 1%;
	width: 33%;
	height: 237px;
}
.pic-list .s6{
	margin-top: 10px;
	width: 32%;
	height: 237px;
}
.pic-list .s7{
	margin-top: 10px;
	margin-right: 1%;
	width: 43%;
}
.pic-list .s8{
	margin-top: 10px;
	margin-top: -235px;
	width: 43%;
	height: 235px;
}
.pic-list .s9{
	margin-top: 10px;
	width: 56%;
}
.hotsearch{
	padding: 10px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.hotsearch label{
	display: inline-block;
	line-height: 32px;
}
.hotsearch input{
	margin: 0 20px 0 10px;
	padding: 0 5px;
	line-height: 30px;
	border: 1px solid #999;
}
.hotsearch button{
	width: 80px;
	height: 36px;
	float: right;
	line-height: 28px;
	background-color: #1c8ae4;
	border: none;
	border-radius: 5px;
	font-size: 14x;
	color: #fff;
	cursor: pointer;
}
.hotsearch button:hover{
	background-color: #0f4c85;
}
.roll-area{
	display: block;
	float: right;
	margin-top: 20px;
	width: 260px;
	height: 529px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.roll-area .roll{
	-webkit-animation: roll 70s ease infinite;
	animation: roll 70s ease infinite;
}
.roll-area .roll li{
	height: 65px;
	padding: 5px 10px;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #fff 50%, #eee 100%);
	background: -webkit-linear-gradient(top, #fff 0%,#fff 50%,#eee 100%);
	background: linear-gradient(to bottom, #fff 0%,#fff 50%,#eee 100%);
	border-bottom: 1px solid #ddd;
}
.roll-area .roll li>span{
	display: block;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.roll-area .roll li>span>span{
	font-size: 12px;
	color: #999;
}
.roll-area .roll li .roll-name{
	font-size: 14px;
}
.roll-area .roll li .roll-detail a{
	font-size: 12px;
	color: #2880b3;
}
.roll-area .roll li .roll-detail a:hover{
	text-decoration: underline;
}

.result-table{
	border: 1px solid #ccc;
	border-collapse: collapse;

}
.result-table td{
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	border: 1px solid #ccc;
}
.result-table .sky{
	background-color: #DEEBF6;
}
.result-table .b td{
	font-weight: bold;
}

.room-list{
	margin-top: 10px;
	overflow: hidden;
}
.room-list img{
	float: left;
	display: block;
}
.room-list .r1{
	width: 270px;
    margin-right: 10px;
    height: 180px;
}
.room-list .r2{
	width: 290px;
	height: 180px;
}
.room-list .r3{
	width: 500px;
    height: 180px;
    margin-right: 10px;
}
.room-list .r4{
	margin-top: 10px;
	width: 400px;
    margin-right: 10px;
    height: 260px;
}
.room-list .r5{
	margin-top: 10px;
	width: 670px;
    height: 260px;
}
.account-table{
	margin: 20px 0;
	width: 480px;
	border-collapse: collapse;
}
.account-table td{
	padding: 0 10px;
	height: 24px;
	border:1px solid #ddd;
}
.account-table thead td,
.account-table tr:nth-child(even) td{
	background-color: #eee;
}
.form-btn{
	width: 120px;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
.three-part .roll-area{
	width:130px;
}
.three-part .quicklink{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
	width: 130px;
	height: 531px;
}
.three-part .quicklink a{
	margin-bottom: 10px;
	display: block;
	padding: 10px 0;
	box-sizing: border-box;
	vertical-align: middle;
	text-align: center;
	font-size: 15px;
	line-height:25px;
	width: 130px;
	height: 70px;
	color: #fff;
	background-color: #1892d9;
	background-image: -webkit-linear-gradient(top,#3098d5,#106ba0);
	background-image: linear-gradient(top,#3098d5,#106ba0);
	border: 1px solid #10679a;
	border-radius: 5px;
	-webkit-transition: all 3s ease;
	transition: all 3s ease;
}
.three-part .quicklink a.small{
	height: 40px;
	line-height:20px;
}
.three-part .quicklink a:hover{
  background-image: -webkit-linear-gradient(top,#48a8e0,#207eb4);
  background-image: linear-gradient(top,#48a8e0,#207eb4);
  border: 1px solid #ffc299;
}
.safe input,.safe button,
.profile input,.profile button{
	margin: 10px 0;
}
.safe label,
.profile label{
	display: inline-block;
	width: 120px;
	padding-right:20px;
	text-align: right;
}
.safe input[type=radio],
.profile input[type=radio]{
	margin:0;
	width: auto;
	vertical-align: middle;
}
.safe>li,
.proin>li{
	display: none;
}
.safe>li.on,
.proin>li.on{
	display: block;
}
.safe p{
	margin-top: 20px;
	font-size: 16px;
	width: 120px;
	font-weight: bold;
	text-align: right;
	border-bottom: 1px solid #999;
}
.push {
	padding: 20px 40px;
}
.push a{
	display: block;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid #999;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
}
.push a:hover{
	background-color: #eee;
}
.push a .title{
	font-size: 18px;
}
.push a .time{
	color: #999;
}

.conf{
	position: relative;
	z-index: 1;
	padding-left: 220px;
	background-color: #eee;
	min-height: 300;
	overflow: hidden;
}
.conf-nav,.conf-detail{
	padding: 20px 0;
}
.conf-nav{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 200px;
	height: 100%;
	box-sizing: border-box;
	background-color: #333;
}
.conf-nav li a{
	display: block;
	padding: 10px 20px;
	line-height: 20px;
	font-size: 14px;
	color:#ccc;
	cursor: pointer;
}
.conf-nav li a:hover,
.conf-nav li a.on{
	background-color: #666;
	color: #fff;
}
.conf-detail{
	float: right;
	width: 100%;
	box-sizing: border-box;
	padding-right:20px;
}

.conf-detail .intput-line{
	margin-bottom:10px;
}
.conf-detail .intput-line input{
	height: 28px;
	width: 200px;
	padding: 0 5px;
	border:1px solid #ccc;
}
.conf-detail .intput-line button{
	margin-left: 20px;
	height: 28px;
	width: 80px;
	cursor: pointer;
}
.conf-detail .titileline{
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
}
.conf-detail .result{
	padding: 20px;
	margin-bottom: 20px;
	font-size:12px;
	line-height: 16px;
	background-color: #fff;
	overflow: hidden;
}
.conf-detail .l1{
	vertical-align: top;
	display: inline-block;
	width: 120px;
}
.conf-detail .l2{
	display: inline-block;
	width: 200px;
	text-align: right;
}
.conf-detail .l3{
	margin-left: 20px;
	display: inline-block;
	width: 200px;
	text-align: left;
}
.conf-detail .l2 .title,
.conf-detail .l3 .title{
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}
.conf-detail .l1 .sub{
	color: #999;
}
.conf-detail .result .title{
	font-size: 20px;
	line-height: 30px;
}
.conf-detail .result .sub{
	line-height: 24px;
	color: #999;
}
.conf-detail .result .text{
	line-height: 24px;
}
.conf-detail .result .road{
	box-sizing: border-box;
	padding: 10px;
	float: left;
	width: 30%;
}
.conf-detail .result .road li{
	margin-bottom: 5px;
	border:1px solid #ccc;
	background-color: #eee;
	cursor: pointer;
}
.conf-detail .result .road li.on,
.conf-detail .result .road li:hover{
	background-color: #ebf1fb;
}
.conf-detail .result .road li.on .tip,
.conf-detail .result .road li:hover .tip{
	background-color: #0c88e8;
}
.conf-detail .result .road .tip{
	display: inline-block;
	line-height: 20px;
	width: 60px;
	background-color: #999;
	text-align: center;
	color: #fff;
}
.conf-detail .result .road .state{
	display: inline-block;
	line-height: 20px;
	width: 60px;
	background-color: green;
	text-align: center;
	color: #fff;
}
.conf-detail .result .road .state.r{
	background-color: red;
}
.conf-detail .result .road .title{
	padding: 0 10px;
	font-size: 14px;
}
.conf-detail .result .road .sub{
	padding: 0 10px;
	font-size: 12px;
	line-height: 20px;
}
.conf-detail .result .rightimg{
	box-sizing: border-box;
	padding:10px;
	float: left;
	width: 70%;
}
.conf-detail .result .rightimg img{
	display: block;
	width: 100%;
	height: 380px;
}
.conf-detail button{
	height: 28px;
	width: 80px;
	cursor: pointer;
}
.conf-detail img{
	width: 100%;
}
.result table td{
	height: 32px;
	padding: 0 10px;
}
.result table thead td{
	background-color: #ddd;
}
.result table tr:nth-child(even) td{
	background-color: #eee;
}
.result img.pp{
	width: 40px;
	float: left;
	margin-right: 10px;
}
.result.cc p{
	margin: 10px 0;
}
.result .bl{
	margin-bottom: 20px;
}
.result .n{
	font-weight: bold;
	font-size: 14px;
}
.result .t{
	color: #999;
}

.result .file{
	display: inline-block;
	width: 100px;
	text-align: center;
}
.result .file img{
	margin: 0 auto;
	display: block;
	width: 50px;
}
.tpop{
	position: fixed;
	z-index: 99;
	right: 0;
	bottom:0;
	text-align: right;
}
.tpop .chat{
	display: inline-block;
	padding: 10px;
	width: 30px;
	height: 30px;
	line-height: 15px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	background-color: #2880b3;
}
.tpop .chat:hover{
	opacity: 0.5;
}
.tpop .chatbox{
	text-align: left;
	width: 300px;
	background-color: #fff;
	border:1px solid #999;
}
.tpop .chatbox .top{
	padding: 0 10px;
	line-height: 24px;
	background-color: #2880b3;
	color: #fff;
}
.tpop .chatbox .top .close{
	font-size: 14px;
}
.tpop .chatbox .content{
	padding: 10px;
	height: 260px;
	word-break:break-all;
	overflow-y: auto;
}
.tpop .chatbox .content .bl{
	margin-bottom: 10px;
}
.tpop .chatbox .content .bl .n{
	font-weight: block;
}
.tpop .chatbox .content .bl .t{
	color: #999;
}
.tpop .chatbox .bottom{
	text-align: right;
	padding: 2px;
	background-color: #eee;
}
.tpop .chatbox .bottom textarea{
	width: 100%;
	display: block;
	resize:none;
	border:1px solid #ccc;
}
.tpop .chatbox .bottom button{
	width: 40px;
	height: 24px;
}
.account-save{
	font-size: 14px;
	color:#999;
	cursor: pointer;
}
/*top-button*/
.client_sp1 a{
	color:#fff;
	display: inline-block;
  margin-top: 26px;
  width: 180px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background-color: #ea3c3c;
  color: #fff;
  border: 2px solid #ea3c3c;
  cursor: pointer;
}
.client_sp1 a:hover{
	background-color:#e86868;
	border-color: #e86868;
}
.client_sp{
	display: inline-block;
	width: 30%;
	text-align: center;
	vertical-align: middle;
}
.design-form{

}
.design-form .title{
	font-size: 16px;
	font-weight: bold;
}
.design-form .form-line{
	margin: 10px 0;
}
.design-form .form-line label{
	display: inline-block;
	width: 80px;
}
.design-form .form-line input,
.design-form .form-line select{
	display: inline-block;
	margin: 0;
	width: 300px;
}
.resultbtn{
	width: 100%;
	height: 32px;
}
.result-table button{
	width: 80px;
}
.result-table td span.deny{
	display: block;
	background-color: #f60;
	color: #fff ;
	text-align: center;
}
.result-table td span.check{
	display: block;
	background-color: green;
	color: #fff ;
	text-align: center;
}